h1{
  color: blue;
  font-size: 50px;
}
#firstsentence{
  color: green;
  font-size: 48px;
}
#secondsentence{
  color: red;
  font-size: 55px;
}
#thirdsentence{
  color: #6BFF6E;
  font-size: 48px;
}
#image{
  height: 900px;
  width: 700px;
}
